In [4]:
import numpy as np
import pandas as pd
head=pd.read_csv('/content/head.csv')
head_size=head['Head Size(cm^3)']
print(head_size)
print(min(head_size))
print(max(head_size))
print((head_size-min(head_size))/(max(head_size)-min(head_size)))

0      4512
1      3738
2      4261
3      3777
4      4177
       ...
232    3214
233    3394
234    3233
235    3352
236    3391
Name: Head Size(cm^3), Length: 237, dtype: int64
2720
4747
0      0.884065
1      0.502220
2      0.760237
3      0.521460
4      0.718796
         ...
232    0.243710
233    0.332511
234    0.253083
235    0.311791
236    0.331031
Name: Head Size(cm^3), Length: 237, dtype: float64

In [5]:
import numpy as np
import pandas as pd
a=pd.read_csv('/content/housing.csv')
print(a.describe())
print(type(a))
print(a.shape)
b=a.fillna(0)
print(b.isnull())

          longitude      latitude  housing_median_age   total_rooms  \
count  20640.000000  20640.000000        20640.000000  20640.000000
mean    -119.569704     35.631861           28.639486   2635.763081
std        2.003532      2.135952           12.585558   2181.615252
min     -124.350000     32.540000            1.000000      2.000000
25%     -121.800000     33.930000           18.000000   1447.750000
50%     -118.490000     34.260000           29.000000   2127.000000
75%     -118.010000     37.710000           37.000000   3148.000000
max     -114.310000     41.950000           52.000000  39320.000000

       total_bedrooms    population    households  median_income  \
count    20433.000000  20640.000000  20640.000000   20640.000000
mean       537.870553   1425.476744    499.539680       3.870671
std        421.385070   1132.462122    382.329753       1.899822
min          1.000000      3.000000      1.000000       0.499900
25%        296.000000    787.000000    280.000000       2.563400
50%        435.000000   1166.000000    409.000000       3.534800
75%        647.000000   1725.000000    605.000000       4.743250
max       6445.000000  35682.000000   6082.000000      15.000100

       median_house_value
count        20640.000000
mean        206855.816909
std         115395.615874
min          14999.000000
25%         119600.000000
50%         179700.000000
75%         264725.000000
max         500001.000000
<class 'pandas.core.frame.DataFrame'>
(20640, 10)
       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0          False     False               False        False           False
1          False     False               False        False           False
2          False     False               False        False           False
3          False     False               False        False           False
4          False     False               False        False           False
...          ...       ...                 ...          ...             ...
20635      False     False               False        False           False
20636      False     False               False        False           False
20637      False     False               False        False           False
20638      False     False               False        False           False
20639      False     False               False        False           False

       population  households  median_income  median_house_value  \
0           False       False          False               False
1           False       False          False               False
2           False       False          False               False
3           False       False          False               False
4           False       False          False               False
...           ...         ...            ...                 ...
20635       False       False          False               False
20636       False       False          False               False
20637       False       False          False               False
20638       False       False          False               False
20639       False       False          False               False

       ocean_proximity
0                False
1                False
2                False
3                False
4                False
...                ...
20635            False
20636            False
20637            False
20638            False
20639            False

[20640 rows x 10 columns]

In [6]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
a=pd.read_csv('/content/housing.csv')
q = a.drop("median_house_value", axis=1)
x=q.drop("ocean_proximity",axis=1)
y= a["median_house_value"]
print(x)
print(y)
scaler = MinMaxScaler()
scaler.fit(x)
x_scaled = scaler.transform(x)
print(x_scaled)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -122.23     37.88                41.0        880.0           129.0
1        -122.22     37.86                21.0       7099.0          1106.0
2        -122.24     37.85                52.0       1467.0           190.0
3        -122.25     37.85                52.0       1274.0           235.0
4        -122.25     37.85                52.0       1627.0           280.0
...          ...       ...                 ...          ...             ...
20635    -121.09     39.48                25.0       1665.0           374.0
20636    -121.21     39.49                18.0        697.0           150.0
20637    -121.22     39.43                17.0       2254.0           485.0
20638    -121.32     39.43                18.0       1860.0           409.0
20639    -121.24     39.37                16.0       2785.0           616.0

       population  households  median_income
0           322.0       126.0         8.3252
1          2401.0      1138.0         8.3014
2           496.0       177.0         7.2574
3           558.0       219.0         5.6431
4           565.0       259.0         3.8462
...           ...         ...            ...
20635       845.0       330.0         1.5603
20636       356.0       114.0         2.5568
20637      1007.0       433.0         1.7000
20638       741.0       349.0         1.8672
20639      1387.0       530.0         2.3886

[20640 rows x 8 columns]
0        452600.0
1        358500.0
2        352100.0
3        341300.0
4        342200.0
           ...
20635     78100.0
20636     77100.0
20637     92300.0
20638     84700.0
20639     89400.0
Name: median_house_value, Length: 20640, dtype: float64
[[0.21115538 0.5674814  0.78431373 ... 0.00894083 0.02055583 0.53966842]
 [0.21215139 0.565356   0.39215686 ... 0.0672104  0.18697583 0.53802706]
 [0.21015936 0.5642933  1.         ... 0.01381765 0.02894261 0.46602805]
 ...
 [0.31175299 0.73219979 0.31372549 ... 0.0281398  0.07104095 0.08276438]
 [0.30179283 0.73219979 0.33333333 ... 0.02068444 0.05722743 0.09429525]
 [0.30976096 0.72582359 0.29411765 ... 0.03879032 0.08699227 0.13025338]]